<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>

    <!-- sweetAlert2 -->
    <link rel="stylesheet" th:href="@{/plugins/sweetalert2/sweetalert2.min.css}">

    <!-- jquery -->
    <script th:src="@{/plugins/jquery/jquery-3.6.1.min.js}"></script>
    <script th:src="@{/plugins/jquery-serialize-object/jquery.serialize-object.min.js}"></script>
    <!-- jquery-validate -->
    <script th:src="@{/plugins/jquery-validation/jquery.validate.min.js}"></script>
    <!-- jquery-ui -->
    <script th:src="@{/plugins/jquery-ui/jquery-ui.js}"></script>
    <!-- axios -->
    <script th:src="@{/plugins/axios/axios.min.js}"></script>
    <!-- sweetAlert2 -->
    <script th:src="@{/plugins/sweetalert2/sweetalert2.min.js}"></script>

    <!-- 커스텀 sweetAlert -->
    <script th:src="@{/js/cmm/CustomAlert.js}"></script>
    <!-- form validation 기능 -->
    <script th:src="@{/js/cmm/Validation.js}"></script>

    <script>
        const validation = new Validation();
    </script>

</head>
<body>
    <h1></h1>
    <form id="loginForm">
        <input type="text" id="usrId" placeholder="아이디 입력해 주세요">
        <input type="password" id="usrPwd" placeholder="비밀번호를 입력해 주세요">
        <button type="button" id="loginBtn"> 로그인 </button>
        <input type="checkBox" id="saveId"> 아이디 저장 
    </form>
   

    <h1></h1>
    <form id="joinForm" onsubmit="return false";>
        <input type="text" name="joinName" placeholder="이름을 입력해 주세요">
        <input type="text" name="joinId" placeholder="아이디를 입력해 주세요">
        <input type="password" name="joinPwd" placeholder="비밀번호를 입력해 주세요">
        <button type="submit" id="joinBtn"> 회원가입 </button>
    </form>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        
    });
    
    // 회원가입
    $("#joinForm").submit(function(){
        CustomAlert.confirm("회원가입 하시겠습니까?", function(){
            if (validation.form("joinForm", validation.joinRule)){
                const url = "/usr/join"
                const formData = new URLSearchParams($("#joinForm").serialize());
                try{
                    axios
                        .post(url, formData)
                        .then(function(response){
                            console.log(response);
                            CustomAlert.success("회원가입에 성공했습니다.");
                            /*$(".swal2-actions").click(function(){
                                location.href = "/login";
                            });*/
                        })
                        .catch(function(error){
                            CustomAlert.error(error.response.data);
                        });
                }catch (e){
                    console.log(e)
                    CustomAlert.error(e.response.data)
                }
            }
        })
    });

</script>

</body>
</html>